footer.footer.footer--index
	.footer-container
		a(href="#").toggle-mnu
			span
				
		ul.footer-menu
			- var fmenu = [ 'portfolio', 'contact us'];
				li.footer-menu__index-page.active
					a(href="#") home
				li.footer-menu__index-page
					a(href="#") about
			each item in fmenu
				li
					a(href="#")= item

		ul.footer-socials
			li
				a(href="#")
					i.fab.fa-instagram
			li
				a(href="#")
					i.fab.fa-behance
			li
				a(href="#")
					i.fab.fa-dribbble
			li
				a(href="#")
					.fab.fa-twitter
			li
				a(href="#")
					i.fab.fa-facebook-f
			li
				a(href="#")
					i.fab.fa-github-alt