extends _misc/main

block title
	| Portfolio

block page-styles
	link(rel="stylesheet", href="js/libs/onepage-scroll/onepage-scroll.css")

block header-logo
	img(src="img/portfolio-page/portfolio-logo.svg", alt="alt")

block header-center
	.range-wrapper
		.range-container
			.range-arrow#range-backward
			.range#range
			.range-arrow#range-forward

		.range-counter
			span.range-counter__current 1
			span -
			span.range-counter__to 16

block header-search-icon
	include _misc/search-standart
	
block content
	.main
		- for (var i=0; i < 8; i++)
			section.portfolio-item
				.portfolio-item__left(style="background-color: #F6AD4D")
					.portfolio-item__content
						.portfolio-item__title.animated.fadeOutDown LADDERMASTER
						.portfolio-item__description.animated.fadeOutUp Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
						
						.portfolio-item__tags
							- var tags = ['logo', 'branding', 'packaging', 'uix'];
							each item in tags
								a(href="#")= item

						a.button(href="#") SEE CASE STUDY

				.portfolio-item__right(style="background-image: url(img/portfolio-page/laddermaster-bg/laddermaster.jpg)")

					.portfolio-item__logo.animated.zoomOutRight
						img(src="img/portfolio-page/laddermaster-logo.svg", alt="alt")

			section.portfolio-item
				.portfolio-item__left(style="background-color: #6B50DD")
					.portfolio-item__content.portfolio-item__content--wht
						.portfolio-item__title.animated.fadeOutDown MAXITING
						.portfolio-item__description.animated.fadeOutUp Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
						
						.portfolio-item__tags
							- var tags = ['logo', 'branding'];
							each item in tags
								a(href="#")= item

						a.button(href="#") SEE CASE STUDY

				.portfolio-item__right(style="background-image: url(img/portfolio-page/laddermaster-bg/laddermaster.jpg)")

					.portfolio-item__logo.animated.zoomOutRight
						img(src="img/portfolio-page/maxiting-logo.svg", alt="alt")


block footer
	footer.footer.footer--portfolio
		.footer-container
			a(href="#").toggle-mnu
				span
			ul.footer-menu
				- var fmenu = ['home', 'about', 'portfolio', 'contact us'];
				each item, ind in fmenu
					if ind == 1
						li.active
							a(href="#")= item
					else
						li
							a(href="#")= item

			ul.footer-socials
				li
					a(href="#")
						i.fab.fa-instagram
				li
					a(href="#")
						i.fab.fa-behance
				li
					a(href="#")
						i.fab.fa-dribbble
				li
					a(href="#")
						.fab.fa-twitter
				li
					a(href="#")
						i.fab.fa-facebook-f
				li
					a(href="#")
						i.fab.fa-github-alt

block page-scripts
	script(src="js/libs/onepage-scroll/jquery.onepage-scroll.js")
	script(src="js/libs/noUiSlider/nouislider.min.js")